<style type="text/css">
.autocomplete{
width: 100%;
position: relative;
border:0;
}

.autocomplete input{
font-size: 1.2em;
width: 100%;
padding:0em;
    border: 0;
}

.autocomplete:focus{
    border: 0;
}



.isFlightTypeClicked,.isWhichTypeClicked,.whichAirlineClicked,.searchByCriteria,.flighttypedesired,.numberofresults{
    background-color: #ebebeb;

}
input[type="button"]:hover{
    background-color: #00ff00;
}

.next{
    content:url("../images/arrow_r.gif");
}

.prev{
    visibility:visible !important;
    content:url("../images/arrow_l.gif");
}

.autocomplete ul{
position: absolute;
left: 0px;
width: 100%;
border-left: 1px solid #888;
border-right: 1px solid #888;
border-bottom: 1px solid #888;
z-index: 1;
}

.autocomplete li{
text-align: left;
list-style:none;
width: 100%;
padding:0.4em;
background-color: #fff;
}

.autocomplete li.active{
width: 100%;
background-color: #4bf;
}

.isVisible{
    display:inline;
}
.isInvisible{
    display:none;
}

.autocomplete .highlight {
background-color: #E2E2E2;
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

.autocomplete li.active .highlight {
background: #666;
color: #fff;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #2b7;
    font-weight: bold;
}

a:hover{
    color: #b15;
    transition: 0.1s all ease-in-out;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul>li{
    list-style:none;
}




</style>

<script src="../bower_components/jquery/autocomplete.js"></script>
<script src="../bower_components/jquery/jquery.autocomplete.min.js"></script>
      <!--  <script src="../bower_components/jquery/currency-autocomplete.js"></script>-->

<script>
    $('.datepicker').datepicker({

    });


    var nowTemp = new Date();
    var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

    var checkin = $('#dpd1').datepicker({
        startDate:'+d',
        endDate:'+90d',
        onRender: function(date) {
            return date.valueOf() < now.valueOf() ? 'disabled' : '';
        }
    }).on('changeDate', function(ev) {
                if (ev.date.valueOf() > checkout.date.valueOf()) {
                    //console.log(ev.date.valueOf());
                    //console.log(checkout.date.valueOf());
                }
                    data=(((Math.floor((ev.date.valueOf() - now.valueOf()) / (1000 * 60 * 60 * 24))))-1).toString();
                    data='+'+data+'d';
                    var newDate = new Date(ev.date)
                    newDate.setDate(newDate.getDate() + 10);
                    //checkout.setValue(newDate);
                    $('#dpd2').datepicker(
                            'setStartDate',data)

                checkin.hide();
                $('#dpd2')[0].focus();
            }).data('datepicker');
    var checkout = $('#dpd2').datepicker({
        startDate:'+d',
        endDate:'+90d',
        dateFormat:'YYYY//MM/DD',
        onRender: function(date) {

            // return date.valueOf() <= checkin.date.valueOf() ? 'disabled' : '';
        }
    }).on('changeDate', function(ev) {
                checkout.hide();
            }).data('datepicker');








</script>
<div class="container-fluid" ng-controller="flightsearchcontroller" style="height: 100%;background-color: #000000" xmlns="http://www.w3.org/1999/html">
<div class="mini-layout fluid" style="height:900px;background-color: darkgray">
    <div style="background-color: #808080;height: 100%;width:20%;float: left" ></div>
    <div class="mini-layout-sidebar" style="margin-left: 0%;width: 60%;background-color: lightgrey;height: 100%;float: left">




        <!-- Template for flight search page -->
        <div class="container">

            <div ng-click="isRoundTrip(0)" class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    One Way
                </label>
            </div>
            <div ng-click="isRoundTrip(1)" class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                    Round

                </label>
            </div>
Type of travel:<br/>
            <div class="input-group">
            <div class="btn-group btn-group-md">
                <button type="button" ng-click="setpref(0)" ng-class="{'isFlightTypeClicked':isFlightButtonClicked}" class="btn btn-default">Domestic</button>
                <button type="button" ng-click="setpref(1)" ng-class="{'isFlightTypeClicked':!isFlightButtonClicked}" class="btn btn-default">International</button>


            </div>
                </div>



<br/>
            <div class="row" style="margin-top: 0px">
                <div class="col-md-6">Source Country code:<img ng-class="{'isVisible': false,'isInvisible':true }" style="margin-left: 200px" src="../images/ajax-loader.gif">

                    <input type="text" name="currency" class="form-control" placeholder="Source Country code" class="biginput" id="autocomplete1">

                    <!--= <input type="text"  ng-model="searchStringSource" ng-change="getAirports();"  class="form-control" id="exampleInputEmail24" placeholder="Source">-->
                </div>

                <div class="col-md-6">Destination Country code:<img ng-class="{'isVisible':false,'isInvisible':true }" style="margin-left: 200px" src="../images/ajax-loader.gif">
                    <input type="text" name="currency" ng-model="destcodenew"  ng-focus="changeDomestic();" class="form-control" placeholder="Destination Country code" class="biginput" id="autocomplete">

                    <!--<input type="email" ng-model="searchStringDestination" ng-change="getAirports();" class="form-control" id="exampleInputEmail2" placeholder="Destination">-->
                </div>
            </div>


        <div class="row" style="margin-top: 0px">
            <div class="col-md-6">From Source:<img ng-class="{'isVisible': sourcevisible,'isInvisible':!sourcevisible }" style="margin-left: 200px" src="../images/ajax-loader.gif">

               <autocomplete ng-model="searchStringSource"  ng-keyup="setSource(1);" data="movies" on-type="getAirports" ng-model="sam" placeholder=""></autocomplete>

               <!--= <input type="text"  ng-model="searchStringSource" ng-change="getAirports();"  class="form-control" id="exampleInputEmail24" placeholder="Source">-->
            </div>

            <div class="col-md-6">To Destination:<img ng-class="{'isVisible': destinationvisible,'isInvisible':!destinationvisible }" style="margin-left: 200px" src="../images/ajax-loader.gif">
                <autocomplete ng-model="searchStringDestination" ng-keyup="setSource(0);" data="movies" on-type="getAirports" ng-model="sam" placeholder=""></autocomplete>

                <!--<input type="email" ng-model="searchStringDestination" ng-change="getAirports();" class="form-control" id="exampleInputEmail2" placeholder="Destination">-->
            </div>
        </div>






            <div class="row">
                <div class="col-md-6">Leaving On: <label class="sr-only" for="leavingon">Leaving On</label>
                    <input id="dpd1" type="text" ng-model="leavingOut" class="form-control" data-start-date="+d"  id="leavingon" placeholder="Leaving On (mm/dd/yyyy)" data-provide="datepicker"></div>
                <div ng-show="isVisibleReturningDate" class="col-md-6">Reaching On:
                    <label class="sr-only" for="reachingon">Reaching On</label>
                    <input id="dpd2" type="text" ng-model="comingIn"  class="form-control" id="reachingon" placeholder="Reaching On (mm/dd/yyyy)" data-provide="datepicker">
                </div>
                </div>




            <span>Number of Adults</span>&nbsp;&nbsp;<a href="#" class="customtooltip" title="Any person above 5 years will be considered as an adult" >i</a>
            <select ng-model="numberOfAdults" ng-options="c.number for c in numberAdult" class="form-control input-large">

            </select>





                <span>Number of Children</span>&nbsp;&nbsp;<span><a href="#" class="customtooltip" title="Child above 2 years will be considered as child" >i</a></span>
            <select ng-model="numberOfChildren" ng-options="c.number for c in numberChildren" class="form-control input-large">

            </select>
            <span>Number of Infants</span>&nbsp;&nbsp;<a href="#" class="customtooltip" title="Child below 2 years will be considered as an infant" >i</a>
            <select ng-model="numberOfInfants" ng-options="c.number for c in numberChildren" class="form-control input-large">

            </select>
<div>
                     <span class="divider">Class</span><br/>
            <div class="btn-group btn-group-md">
                <button type="button" ng-click="classButtonPressed(1)" ng-class="{'isWhichTypeClicked':firstClassButtonClicked}" class="btn btn-default">First</button>
                <button type="button" ng-click="classButtonPressed(2)" ng-class="{'isWhichTypeClicked':businessClassButtonClicked}" class="btn btn-default">Business</button>
                <button type="button" ng-click="classButtonPressed(3)" ng-class="{'isWhichTypeClicked':economyClassButtonClicked}" class="btn btn-default">Economy</button>
            </div>
     </div>
     <div>
                <span>Airline</span></br>
            <div class="btn-group btn-group-md">
                <button type="button" ng-click="airlineSelection();" ng-class="{'whichAirlineClicked':whichAirline}" class="btn btn-default">My Airline</button>
            </div>
</div>


 <div>
     <span>How do you want to Search Flights?</span></br>
     <div class="btn-group btn-group-md">
         <button type="button" ng-click="searchByCriteriaButtonPressed(2)" ng-class="{'searchByCriteria':searchByVariableDates}" class="btn btn-default">Search by variable dates (+3 Days)</button>
         <button type="button" ng-click="searchByCriteriaButtonPressed(3)" ng-class="{'searchByCriteria':searchBySpecificDates}" class="btn btn-default">Search by Specific dates</button>
     </div>
 </div>
            <div>
                <span>What kind of connections do you want?</span><br/>
                <button type="button" ng-click="searchbyconnectiontype(1)" ng-class="{'flighttypedesired':flighttypedesireddirect}" class="btn btn-default">Non-Stop Flights</button>
                <button type="button" ng-click="searchbyconnectiontype(2)" ng-class="{'flighttypedesired':flighttypedesiredwithstops}" class="btn btn-default">Flights with stop</button>

                </div>


            <div>
                <span>Number of results per page</span><br/>
                <button type="button" ng-click="numberOfResultsPerPage(5)" ng-class="{'numberofresults':five}" class="btn btn-default">5</button>
                <button type="button" ng-click="numberOfResultsPerPage(10)" ng-class="{'numberofresults':ten}" class="btn btn-default">10</button>
                <button type="button" ng-click="numberOfResultsPerPage(20)" ng-class="{'numberofresults':twenty}" class="btn btn-default">20</button>
                <button type="button" ng-click="numberOfResultsPerPage(30)" ng-class="{'numberofresults':thirty}" class="btn btn-default">30</button>
                <button type="button" ng-click="numberOfResultsPerPage(all)" ng-class="{'numberofresults':all}" class="btn btn-default">All</button>
            </div>

          <!--  <div>
                <span>How do you want to sort flights?</span><br/>
                <button type="button" ng-click="searchbyconnectiontype(1)" ng-class="{'flighttypedesired':flighttypedesireddirect}" class="btn btn-default">Non-Stop Flights</button>
                <button type="button" ng-click="searchbyconnectiontype(2)" ng-class="{'flighttypedesired':flighttypedesiredwithstops}" class="btn btn-default">Flights with stop</button>

            </div>-->

                     <div class="row col-lg-offset-10">
                         <button ng-click="bookNowPressed();" type="button" class="btn btn-primary btn-lg" >book now</button>
                     </div>

</div>
    </div>

    </div>
</div>
    <div style="background-color: #800404;height: 100%;width:20%;float: left" ></div>

    </div>