
<div class="container-fluid" style="height: 100%;background-color: #000000" xmlns="http://www.w3.org/1999/html">
<div class="mini-layout fluid" style="height:900px;background-color: darkgray">
    <div style="background-color: #808080;height: 100%;width:20%;float: left" ></div>
    <div class="mini-layout-sidebar" style="margin-left: 0%;width: 60%;background-color: lightgrey;height: 100%;float: left">




        <!-- Template for flight search page -->
        <div class="container">

            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Option one is this and that&mdash;be sure to include why it's great
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1">
                    Option one is this and that&mdash;be sure to include why it's great

                </label>

            </div>

        <div class="row"></br></br>
            <div class="col-md-6">From: <label class="sr-only" for="exampleInputEmail2">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email"></div>
            <div class="col-md-6">To:
                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
            </div>
        </div>




            <div class="row"></br></br>
                <div class="col-md-6">From: <label class="sr-only" for="leavingon">Leaving On</label>
                    <input id="dpd1" type="text" class="form-control" data-start-date="+d" id="leavingon" placeholder="Leaving On" data-provide="datepicker"></div>
                <div class="col-md-6">To:
                    <label class="sr-only" for="reachingon">Reaching On</label>
                    <input id="dpd2" type="text" class="form-control" id="reachingon" placeholder="Leaving On" data-provide="datepicker"></div>
                </div>




            <span>Number of Adults</span>&nbsp;&nbsp;<a href="#" class="customtooltip" title="Any person above 5 years will be considered as an adult" >i</a>
            <select class="form-control input-large">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>





                <span>Number of Children</span>&nbsp;&nbsp;<span><a href="#" class="customtooltip" title="Child above 2 years will be considered as child" >i</a></span>
            <select class="form-control input-large">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
            <span>Number of Infants</span>&nbsp;&nbsp;<a href="#" class="customtooltip" title="Child below 2 years will be considered as an infant" >i</a>
            <select class="form-control input-large">
                <option>0</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
<div>
                     <span class="divider">Class</span><br/>
            <div class="btn-group btn-group-md">
                <button type="button" class="btn btn-default">First</button>
                <button type="button" class="btn btn-default">Business</button>
                <button type="button" class="btn btn-default">Economy</button>
            </div>
     </div>
     <div>
                <span>Airline</span></br>
            <div class="btn-group btn-group-md">
                <button type="button" class="btn btn-default">My Airline</button>
            </div>
</div>


 <div>
     <span>How do you want to Search Flights?</span></br>
     <div class="btn-group btn-group-md">
         <button type="button" class="btn btn-default">Search By Price</button>
         <button type="button" class="btn btn-default">Search by variable dates</button>
         <button type="button" class="btn btn-default">Search by Specific dates</button>
     </div>
 </div>
                     <div class="row col-lg-offset-10">
                         <button type="button" class="btn btn-primary btn-lg" >book now</button>
                     </div>
</div>
    </div>

    </div>
</div>
    <div style="background-color: #800404;height: 100%;width:20%;float: left" ></div>

    </div>