<script>
    $(function() {
        $('.adaptive-slider').adaptiveSlider({
            opacity: 0.7,
            normalizedTextColors: {
                light: '#f1f1f1',
                dark: '#222'
            }
        });
    });
</script>


<div id="bookticket">
<div class="header">
    <ul class="adaptive-slider">
        <!-- Slider Item -->
        <li>
            <figure>
                <img src="../images/airline1.jpg">
                <figcaption>
                    <h1>Hover me!</h1>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </figcaption>
            </figure>
        </li>
        <!-- End Slider Item -->

        <!-- Slider Item -->
        <li>
            <figure>
                <img src="../images/airline2.jpg">
                <figcaption>
                    <h1>Dolor Sit Amet</h1>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </figcaption>
            </figure>
        </li>
        <!-- End Slider Item -->

        <!-- Slider Item -->
        <li>
            <figure>
                <img src="../images/airline3.jpg">
                <figcaption>
                    <h1>This is an example image</h1>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </figcaption>
            </figure>
        </li>
        <!-- End Slider Item -->

        <!-- Slider Item -->
        <li>
            <figure>
                <img src="../images/airline4.jpg">
                <figcaption>
                    <h1>Another example image</h1>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </figcaption>
            </figure>
        </li>
        <!-- End Slider Item -->

        <!-- Slider Item -->
        <li>
            <figure>
                <img src="../images/9.jpg">
                <figcaption>
                    <h1>This is awesome!</h1>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </figcaption>
            </figure>
        </li>
        <!-- End Slider Item -->
    </ul>




</div>

<div class="container frontpage">
    <div class="row">
        <div class="span12">
            <ul style="list-style-type: none;">
                <li class="span5 clearfix">
                    <div class="thumbnail clearfix">
                        <img src="http://placehold.it/320x200" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'>
                        <div class="caption" class="pull-left">
                            <a href="http://bootsnipp.com/" class="btn btn-primary icon  pull-right">Select</a>
                            <h4>
                                <a href="#" >Luis Felipe Kaufmann</a>
                            </h4>
                            <small><b>RG: </b>99384877</small>
                        </div>
                    </div>
                </li>
                <li class="span5 clearfix">
                    <div class="thumbnail clearfix">
                        <img src="http://placehold.it/320x200" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'>
                        <div class="caption" class="pull-left">
                            <a href="http://bootsnipp.com/" class="btn btn-primary icon  pull-right">Select</a>
                            <h4>
                                <a href="#" >Luis Felipe Kaufmann</a>
                            </h4>
                            <small><b>RG: </b>99384877</small>
                        </div>
                    </div>
                </li>
                <li class="span5 clearfix">
                    <div class="thumbnail clearfix">
                        <img src="http://placehold.it/320x200" alt="ALT NAME" class="pull-left span2 clearfix" style='margin-right:10px'>
                        <div class="caption" class="pull-left">
                            <a href="http://bootsnipp.com/" class="btn btn-primary icon  pull-right">Select</a>
                            <h4>
                                <a href="#" >Luis Felipe Kaufmann</a>
                            </h4>
                            <small><b>RG: </b>99384877</small>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 100%;height: 10px;">
        <span class="sr-only">35% Complete (success)</span>
    </div>
</div>


<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="thumbnail">
            <img data-src="holder.js/300x200" alt="...">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div>


<div class="footer">

</div>

</div>