<style type="text/css">
    .moveleft {
        margin-left: -35%;
    }
    .moveleftmiddle{
        margin-left: -75%;
    }
    .col-xs-9{
        width:120%;
    }
    .tableMain{
        max-width: 350%;
        width: 350%;
    }

    .customtooltip{
        display: inline;
        position: relative;
    }
    .customtooltip:hover:after{
        background: #333;
        background: rgba(0,0,0,.8);
        border-radius: 5px;
        bottom: 26px;
        left:-40px;
        color: #fff;
        content: attr(title);
        padding: 5px 15px;
        position: absolute;
        z-index: 98;
        width: 220px;
    }

</style>

        <script>
            $(document).ready(function(){
                $("button#airlines").click(function(){
                    console.log("clicek");
                    $("p#airlinesDetails").toggle(1000);
                });
                $("button#airports").click(function(){
                    $("p#airportsDetails").toggle(1000);
                });
                $("button#airplnaes").click(function(){
                    $("p#airplanesDetails").toggle(1000);
                });
            });




        </script>

<div class="container" ng-controller="showflightscontroller">
    <div class="row">


        <div class="col-xs-3 moveleft">
            <table>
                <tr><th><button id="airlines"><h6>Available Airlines</h6></button></th></tr>
<p id="airlinesDetails">

                <tr ng-repeat="airline in airlines">

    <td><div id='{{airline.iata}}'><a href='{{airline.icao}}'>{{airline.name}}</a><br/>{{airline.phoneNumber?airline.phoneNumber:""}}</div><br/></td>
    </tr>
                </p>
                </table>
            <table>
                <tr><th><button id="airports"><h6>Available Airports</h6></button></th></tr>
                <p id="airportsDetails">
                <tr ng-repeat="airport in airports">

                    <td><div><h4>{{airport.name}}</h4>{{airport.city}}<br/>{{airport.countryName}}</br> {{airport.regionName}}</div><br/></td>
                </tr>
                </p>
            </table>
            <table>
                <tr><th><button id="airplanes"><h6>Available Airplanes</h6></button></th></tr>
                <p id="airplanesDetails">
                <tr ng-repeat="equipment in equipments">

                    <td><div id="{{equipment.iata}}">{{equipment.name}}</div><br/></td>
                </tr>
                </p>
            </table>





        </div>
        <div class="col-xs-9">

            <div class="col-md-4 col-md-push-9 col-sm-4 col-sm-push-8 moveleftmiddle">




                    <div ng-repeat="flightDetail in flightDetails">
                        <div class="tableMain" style="background-color: lightgray">
                           <div>Date of Travel: {{departureDate}} </div>
                            <div>Departing From: {{flightDetail.departureAirportFsCode}} At {{flightDetail.departureTime}} </div>
                            <div>Arriving To: {{flightDetail.arrivalAirportFsCode}} At {{flightDetail.arrivalTime}}</div>
                            <!--<div>Deparing On: {{flightDetail.departureDaysOfWeek[0]}}</div>-->
                            <div>Distance in Miles: {{flightDetail.distanceMiles}}</div>
                            <div>Flight Duration: {{flightDetail.flightDurationMinutes}}</div>
                            <div>Layover Duration: {{flightDetail.layoverDurationMinutes}}</div>
                            <div>Flight Type: {{flightDetail.flightType}}</div>
                            <div>Connection Details</div><br/>
                            <div ng-repeat="connectionDetail in flightDetail.flightLegs">
                                <div>Departing From: {{connectionDetail.departureAirportFsCode}} At {{connectionDetail.departureTime}} </div>
                                <div>Terminal {{connectionDetail.departureTerminal}}</div>
                                <div>Arriving To: {{connectionDetail.arrivalAirportFsCode}} At {{connectionDetail.arrivalTime}}</div>
                                <div>Terminal {{connectionDetail.arrivalTerminal}}</div>
                                <div>Carrier Airline {{connectionDetail.carrierFsCode}}</div>
                                <div>Flight Number {{connectionDetail.flightNumber}}</div>
                                <div>Day difference between source and destination {{connectionDetail.arrivalDateAdjustment}}</div>
                                <div>Distance in Miles {{connectionDetail.distanceMiles}}</div>
                                <div>Flight Duration {{connectionDetail.flightDurationMinutes}}</div>
                                <div>Leasing Info: {{connectionDetail.wetleaseInfo?connectionDetail.wetleaseInfo:"N/A"}} </div>
<br/>
                            </div>
                    <br/>
                            <button ng-click="bookorgotoreturingflights($index)">{{bookbuttontitle}}</button>
                        </div><br/><br/>

                    </div>
                <div class="tableMain" ng-repeat="error in errors">
                    <a class="customtooltip" ng-mouseover="doitnow();" title="{{servermessage}}">Error: {{error.name}} </a>
                    <div>Error Code: {{error.code}} </div>
                    <div>Error Code: {{error.codemessage}} </div>
                    <div>Error Resolution {{error.resolution}} </div>
                <div><a href="{{error.gobacklink}}">Go Back</a></div>

                </div>


<div class="tableMain">
                    <div style="float:left" ng-repeat="page in totalPages ">
                        <a href="#/showavailableflights/{{page}}">{{page+1}}&nbsp;&nbsp;&nbsp;</a>
                    </div>
    </div>
            </div>

        </div>

    </div>
</div>