<style type="text/css">

    .moveleft {
        margin-left: -35%;
    }
    .moveleftmiddle{
        margin-left: -75%;
    }
    .col-xs-9{
        width:120%;
    }
    .tableMain{
        max-width: 350%;
        width: 350%;
    }
a {
    text-decoration: none;
}
    a:hover{
        text-decoration: none;
    }
    .tooltip-inner{
        max-width: 400px;
    }
    .customtooltip{
        display: inline;
        position: relative;
    }
    .customtooltip:hover:after{
        background: #333;
        background: rgba(0,0,0,.8);
        border-radius: 5px;
        bottom: 26px;
        left:-40px;
        color: #fff;
        content: attr(title);
        padding: 5px 15px;
        position: absolute;
        z-index: 98;
        width: 220px;
    }

    .hover {
        position:relative;
        top:50px;
        left:50px;
    }

    .tooltip {
        top:-10px;
        background-color:black;
        color:white;
        border-radius:5px;
        opacity:0;
        /*visibility: hidden;*/
        position:absolute;
        -webkit-transition: opacity 0.5s;
        -moz-transition:  opacity 0.5s;
        -ms-transition: opacity 0.5s;
        -o-transition:  opacity 0.5s;
        transition:  opacity 0.5s;
    }

    .hover:hover .tooltip {
        opacity:1;
        /*visibility:visible;*/
    }

    .loadinganimation{
        position: absolute;
        z-index: 100;
        margin-top: 10px;
        margin-left: 150px;
    }

</style>

        <script>
            $(document).ready(function(){
                $("button#airlines").click(function(){
                    $(".airlinesDetails").toggle(1000);
                });
                $("button#airports").click(function(){
                    $(".airportsDetails").toggle(1000);
                });
                $("button#airplanes").click(function(){
                    $(".airplanesDetails").toggle(1000);
                });
                $('.pop').popover({ html : true });
            });

            $('#popoverData').popover();
            $('#popoverOption').popover({ trigger: "hover" });

function changetogglebuttontext(buttonObject){
    buttonObject.innerHTML=(buttonObject.innerHTML==="Show")?"Hide":"Show";
}

        </script>

<div class="container" ng-controller="showflightscontroller">
    <div>
        <img src="../images/loading.gif" ng-show="loadingToDisplay" class="loadinganimation">
    </div>
    <div class="row">
        </div>
        <div class="col-xs-3 moveleft">
            <table>

                <tr><th><button id="sortparameter"><h6>Sort By</h6></button></th><th>Order

                    <!--<select ng-model="orderTypeForOptions" ng-change="ascendingDescendingOptionChose()">
                        <option ng-repeat="orderParameter in orderParametersArray"
                                value="{{orderParameter.backGroundName}}">
                            {{orderParameter.displayName}}
                        </option>
                    </select>-->

       <select data-ng-change="ascendingDescendingOptionChose();" ng-model="orderTypeForOptions" ng-options="orderParameter as orderParameter.displayName for orderParameter in orderParametersArray">
                  </select>



                    <br>
                </th></tr>
<tr>
    <td>






        <select class="filterparameter" ng-model="sortparameter" ng-change="filterWithAirline(sortparameter.backGroundName,0,false);"
                ng-options="sortparameter as sortparameter.displayName for sortparameter in sortparamterscontainer"></select>
        <!--        <select>



                    <option class="filterparameter"  ng-repeat="sortparameter in sortparamterscontainer" ng-change="filterWithAirline(sortparameter.backGroundName,0,false);" value="{{sortparameter.displayName}}">
                        {{sortparameter.displayName}}-->
                        <!-- <td ><div ><a ng-click="filterWithAirline(sortparameter.backGroundName,0,false);">{{sortparameter.displayName}}</a></div><br/></td>-->
<!--
                    </option>
                    </select>-->

    </td>
            </tr>

Filter By Airline

                <tr><th><button id="airlines"><h6>Available Airlines For this Booking</h6></button></th></tr>

<!--
<select class="filterparameter" ng-model="sortparameter" ng-change="filterWithAirline(sortparameter.backGroundName,0,false);"
                ng-options="sortparameter as sortparameter.displayName for sortparameter in sortparamterscontainer"></select>

-->

                <tr><td>

                <select ng-model="airline" ng-change="filterWithAirline(airline.iata,2,'airlineName');"
                        ng-options="airline as airline.name for airline in airlines" ></select>
</td>
                    </tr>


                <!--<tr  ng-repeat="airline in airlines" >

    <td class="airlinesDetails"><div id='{{airline.iata}}'><a ng-click="filterWithAirline(airline.iata,2,'airlineName');">{{airline.name}}</a><br/>{{airline.phoneNumber?airline.phoneNumber:""}}</div><br/></td>


                </tr>-->






                <tr><th><button id="othersearchparameters"><h6>Other Parameters</h6></button></th></tr>

    <tr>

        <td>



            <select ng-model="connectionTypeParameter" ng-change="filterWithAirline(connectionTypeParameter.backgroundName,2,'flightType');"
                    ng-options="connectionTypeParameter as connectionTypeParameter.displayName for connectionTypeParameter in connectionTypeParameters"></select>

            <!--<option data-ng-click="filterWithAirline('CONNECTION',2,'flightType');"><a>With Stops</a></option>
            <option  data-ng-change="filterWithAirline('NON_STOP',2,'flightType');"><a>Non Stop</a></option>
            <option  data-ng-change="filterWithAirline('DIRECT',2,'flightType');"><a>Direct</a></option>-->






        </td>

    </tr>

    <tr>

<td>
        <select ng-model="daysAdjustmentParameter" ng-change="filterWithAirline(daysAdjustmentParameter.backgroundName,2,'arrivalDateAdjustment');"
                ng-options="daysAdjustmentParameter as daysAdjustmentParameter.displayName for daysAdjustmentParameter in daysAdjustmentParameters"></select>
</td>

        <!--<td ng-click="filterWithAirline(0,2,'arrivalDateAdjustment');"><a>0 Day</a></td>
        <td ng-click="filterWithAirline(1,2,'arrivalDateAdjustment');"><a>1 Day</a></td>-->

    </tr>

    <tr><td class="airlinesDetails"><div><button ng-click="filterWithAirline('clearall',2);">Clear All<br/><br/></button><br/><br/></div></td></tr>
                </table>



            <table>
                <tr><th><button id="airports"><h6>Available Airports</h6></button></th></tr>

            <!--    <tr ng-repeat="airport in airports">

                    <td class="airportsDetails"><div><h4>{{airport.name}}</h4>{{airport.city}}<br/>{{airport.countryName}}</br> {{airport.regionName}}</div><br/></td>
                </tr>-->

                <tr><td>
                <select style="width:250px;">



                    <option ng-repeat="airport in airports"  value="{{airport.name}}" title="{{airport.name}} {{airport.city}} {{airport.countryName}} {{airport.regionName}}">
                        {{airport.name}}  -  {{airport.city}} &nbsp;&nbsp;

                                            </option>
                                            </select>


                </td></tr>


            </table>
            <table>
                <tr><th><button id="airplanes"><h6>Available Airplanes</h6></button></th></tr>

                <!--<tr ng-repeat="equipment in equipments">

                    <td class="airplanesDetails"><div id="{{equipment.iata}}">{{equipment.name}}</div><br/></td>
                </tr>-->

                <tr><td>
                    <select style="width:250px;">



                        <option ng-repeat="equipment in equipments"  value="{{equipment.name}}" title="">
                            IATA Code : {{equipment.iata}} : {{equipment.name}} &nbsp;&nbsp;

                        </option>
                    </select>


                </td></tr>

            </table>
        </div>

    <select data-ng-change="dayOfBookingChanged(day.backgroundDay);" ng-model="day" ng-options="day as day.displayDay for day in daysRange">
    </select>
        <div class="col-xs-9">




            <div class="col-md-4 col-md-push-9 col-sm-4 col-sm-push-8 moveleftmiddle">
                <div ng-repeat="flightDetail in flightDetails">
                        <div class="tableMain" style="background-color: lightgray">

                            <!--<div class="hover">hover
                                <div class="tooltip">asdadasd<br/>asdas
                                </div>
                            </div>-->


                            <div>Date of Travel: {{departureDate}} </div>

                            <!--<div class="hover">{{flightDetail.departureAirportFsCode}}<div class="tooltip">{{getairportsindi(flightDetail.departureAirportFsCode)}}</div></div>-->
                            <!--popover-trigger="mouseenter"  Just kepr if anything needs in the future just add this attriubte to underlying tooltip tag-->
                            <!--<div>Departing From:<span class="pop"  popover="{{getairportsindi(flightDetail.departureAirportFsCode,0)}}" popover-title="{{getairportsindi(flightDetail.departureAirportFsCode,1)}}" popover-placement="right"> {{flightDetail.departureAirportFsCode}}</span> At {{flightDetail.departureTime}} </div>
                            <div>Arriving To:<span popover="{{getairportsindi(flightDetail.arrivalAirportFsCode,0)}}" popover-title="{{getairportsindi(flightDetail.arrivalAirportFsCode,1)}}" popover-placement="right" > {{flightDetail.arrivalAirportFsCode}}</span> At {{flightDetail.arrivalTime}}</div>-->
                            <!-- changing popover with tooltip, as former would not allow any html elements in it will change if
                            requires in the future -->

                            <div>Departing From:<span class="pop"   tooltip-html-unsafe="{{getairportsindi(flightDetail.departureAirportFsCode,0)}}" popover-trigger="mouseenter" popover-placement="right"> {{flightDetail.departureAirportFsCode}}</span> At {{flightDetail.departureTime}} </div>
                            <div>Arriving To:<span  tooltip-html-unsafe="{{getairportsindi(flightDetail.arrivalAirportFsCode,0)}}" popover-trigger="mouseenter" popover-placement="right" > {{flightDetail.arrivalAirportFsCode}}</span> At {{flightDetail.arrivalTime}}</div>


                            <!--<div>Deparing On: {{flightDetail.departureDaysOfWeek[0]}}</div>-->
                            <div>Distance in Miles: {{flightDetail.distanceMiles}}</div>
                            <div>Flight Duration: {{flightDetail.flightDurationMinutes}}</div>
                            <div>Layover Duration: {{flightDetail.layoverDurationMinutes}}</div>
                            <div>Flight Type: {{flightDetail.flightType}}</div>

                            <button>Connection Details</button> <button onclick="changetogglebuttontext(this)" data-ng-click="hideConnectionDetails($index+1)">Show</button><br/>
                            <div id="connectiondetails-{{$index+1}}">
                            <div ng-repeat="connectionDetail in flightDetail.flightLegs">
                                <div>Departing From: <span  tooltip-html-unsafe="{{getairportsindi(connectionDetail.departureAirportFsCode,0)}}" popover-trigger="mouseenter"  popover-placement="right">{{connectionDetail.departureAirportFsCode}}</span> At {{connectionDetail.departureTime}} </div>
                                <div>Terminal {{connectionDetail.departureTerminal}}</div>
                                <div>Arriving To:<span tooltip-html-unsafe="{{getairportsindi(connectionDetail.arrivalAirportFsCode,0)}}" popover-trigger="mouseenter" popover-placement="right"> {{connectionDetail.arrivalAirportFsCode}}</span> At {{connectionDetail.arrivalTime}}</div>
                                <div>Terminal {{connectionDetail.arrivalTerminal}}</div>
                                <div>Carrier Airline {{connectionDetail.carrierFsCode}} <img ng-src="http://www.mediawego.com/images/flights/airlines/120x40t/{{connectionDetail.carrierFsCode}}.gif"></div>
                                <div>Flight Number {{connectionDetail.flightNumber}}</div>
                                <div>Day difference between source and destination {{connectionDetail.arrivalDateAdjustment}}</div>
                                <div>Distance in Miles {{connectionDetail.distanceMiles}}</div>
                                <div>Flight Duration {{connectionDetail.flightDurationMinutes}}</div>
                                <div>Leasing Info: {{connectionDetail.wetleaseInfo?connectionDetail.wetleaseInfo:"N/A"}} </div>
                    <br/>
                            </div>
                                </div>
                    <br/>
                            <button ng-click="bookorgotoreturingflights($index);">{{bookbuttontitle}}</button>
                        </div><br/><br/>

                    </div>
                <div class="tableMain" ng-repeat="error in errors">
                    <a class="customtooltip" ng-mouseover="doitnow();" title="{{servermessage}}">Error: {{error.name}} </a>
                    <div>Error Code: {{error.code}} </div>
                    <div>Error Code: {{error.codemessage}} </div>
                    <div>Error Resolution {{error.resolution}} </div>
                <div><a href="{{error.gobacklink}}">Go Back</a></div>

                </div>


<div class="tableMain">
                    <div style="float:left" ng-repeat="page in totalPages ">
                        <a href="#/showavailableflights/{{page}}">{{page+1}}&nbsp;&nbsp;&nbsp;</a>
                    </div>
    </div>

            </div>

        </div>

    </div>
</div>